# Dependencies
node_modules/
.pnp
.pnp.js

# Production output
dist/
build/

# IDE / Editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# OS Files
.DS_Store
Thumbs.db

# Clasp / Apps Script local configs
.clasp.json
.claspignore

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
